.content__block {
    background-color: var(--secondary-dark);
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    width: calc(100% - 30px);
}

.content__text {
    color: var(--primary-text);
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 200;
}

.content__title {
    color: var(--primary-text);
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 500;
}

.content__button {
    background-color: var(--secondary-light);
    border-radius: 5px;
    height: 30px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.content__button-title {
    color: var(--primary-text);
    font-family: var(--main-font);
    font-weight: 400;
}

.content__button-icon {
    height: 20px;
    aspect-ratio: 1/1;
}

.content__button-icon-spaced {
    margin-right: 5px;
}

.content__button-spacing {
    margin-right: 10px;
}

.content__input {
    background-color: var(--secondary-light);
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    width: 60%;
    margin-right: 10px;

    display: flex;
}

.content__input-raw {
    color: var(--primary-text);
    font-family: var(--main-font);
    font-size: 16px;
    margin-top: -1px;

    background-color: var(--secondary-light);
    border: 0px;

    width: calc(100% - 10px);
}

.content__input-raw:focus {
    border: 0px;
    outline: none;
}

::placeholder {
    color: var(--secondary-text)
}

/* Effects */

.content__button:hover {
    background-color: var(--highlight-light)
}