.nav {
    width: 100%;
}

.nav__primary {
    flex-grow: 1;
}

.nav__item {
    width: 100%;
    aspect-ratio: 4/1;

    display: flex;
    align-items: center;

    padding: 15px;

    transition: 0.25s cubic-bezier(0, 0, 0.5, 1);
}

.nav__item-icon {
    width: 20%;
    aspect-ratio: 1/1;
    margin-right: 15px;

    background: center / contain no-repeat;
}

.nav__item-title {
    color: var(--primary-text);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
}

/* Effects */

.nav__item:hover {
    background-color: var(--primary-dark);
    border-left: solid 7px var(--copper);
}

.nav__selected {
    background-color: #2e2e33;
}